<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css" integrity="sha384-RxqHG2ilm4r6aFRpGmBbGTjsqwfqHOKy1ArsMhHusnRO47jcGqpIQqlQK/kmGy9R" crossorigin="anonymous">
    <title>Create New Hero</title>
</head>
<body>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
            <div class ="container container-fluid text-center pt-5 pb-5">
                <h1>You are creating a new hero</h1> 
                <p>It doesn't have to be an exiting hero.  Feel free to make your own!.</p>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class = "col-sm gx-4 bg-info">Name: </div><div class="col-md-10"><input type = "text" class="form-control" name="name" id ="name" ></div>
                </div>
                <div class="row">
                    <div class = "col-sm gx-4 bg-info">Alter Ego: </div><div class="col-md-10"><input type = "text" class="form-control" name="alter_ego" id="alter_ego"></div>
                </div>
                <div class="row">
                    <div class = "col-sm gx-4 bg-info">Primary Ability: </div><div class="col-md-10"><input type="text" class="form-control" name ="primary_ability" id = "primary_ability"></div>
                </div>
                <div class="row">
                    <div class = "col-sm gx-4 bg-info">Secondary Ability: </div><div class="col-md-10"><input type="text" class="form-control" name="secondary_ability" id="secondary_ability"></div>
                </div>
                <div class="row">
                    <div class = "col-sm gx-4 bg-info">Catchphrase: </div><div class="col-md-10"><input type="text" class="form-control" name="catchphrase" id="catchphrase" ></div>
                </div>
                <div class="row">
                    <div class = "col-sm gx-4 pb-3 bg-info">Description: </div><div class="col-md-10 pb-3"><input type="text" class="form-control" name="description"  id="description"></div>   
                </div>
                <div class="row">
                    <div class = "col-sm gx-4 "></div><div class="col-md-10"><input type="submit" value="Save Edits!"></div>
                </div>
            </form>
            </div>
        <div class="col-md-4 gx-4">
            {% load static %}
            <img src="{% static 'superheroes/superhero_shadow.png' %}" class="img-thumbnail" alt="flying superhero silhouette">
        </div>
    </div>
</body>
</html>