<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero Index</title>
</head>
<body>
    <a href="{% url 'superheroes:create' %}">Create New Hero</a>
    <table>
        <thead>
            <tr>
                <th scope="col">Superhero</th>
                <th scope="col">Detail Link</th>
            </tr>
        </thead>
        <tbody>
                {% for hero in all_heroes %}
                <tr>
                <th scope="row">{{hero.name}}</th>
                <td><a href="{% url 'superheroes:detail' hero.id %}">Hero Details</a></td>
                </tr>
                {% endfor %}
        </tbody>
    </table>   
</body>
</html>